<div class="page_stores">
    <!-- <div class="page_banner text_light">
        <div class="container">
            <app-breadcrumb></app-breadcrumb>
            <h4>POPULAR STORES</h4>
            <app-stores-carousel [storesData]=favstoresData></app-stores-carousel>
        </div>
    </div> -->
    <div class="page_content">
        <div class="container">
            <app-stores-grid [storesgridData]=storesgridData></app-stores-grid>
        </div>
    </div>
</div>


<!-- CSS File: _stores.scss -->