/**
 * Add theme configurations for different banks here.
 *
 * Each variables defined below are set/initialized in _settings.scss file.
 */
$themes: (
    cheggout: (
        font-family: $font-family--cheggout,
        theme-color: $theme-color--cheggout,
        theme-primary: $theme-primary--cheggout,
        theme-secondary: $theme-secondary--cheggout,
        body-bg: $body-bg--cheggout,
        body-color: $body-color--cheggout,
        header-bg: $header-bg--cheggout,
        headerback-bg:$theme-headerback--cheggout,
        header-color: $header-color--cheggout,
        header-btn-bg: $header-btn-bg--cheggout,
        header-search-bg: $header-search-bg--cheggout,
        header-search-border: $header-search-border--cheggout,
        login-intro-bg: $login-intro-bg--cheggout,
        banner-bg: $banner-bg--cheggout,
        primary-btn: $primary-btn-bg--cheggout,
        footer-bg: $footer-bg--cheggout,
        footer-color: $footer-color--cheggout,
        gradient-navbar: $gradient-navbar--cheggout,
        gradient-category: $gradient-category--cheggout,
        gradient-store: $gradient-store--cheggout,
        search-pagetitle: $search-pagetitle--cheggout,
        login-btn:$btn-success--cheggout,
        login-btn-hover:$btn-success-hover--cheggout,
        buynow-color:$buynow--cheggout,
        sendgift-color:$sendgift--cheggout,
        giftcard-color:$giftcard--cheggout,
        deals-color:$deals--cheggout,
        dealtab-color:$store-tab--cheggout,
        continuebtn-color:$continue-login--cheggout,
        topribbon-color:$topribbon-back--cheggout,
        topribbontext-color:$topribbon-text--cheggout,
        aboutpage-color:$aboutpage--cheggout,
        featured-color:$featured--cheggout,
        pagesearch-color:$pagesearch--cheggout,
        topribbonfirst-color:$topribbon-textfirst--cheggout,
        storetab-color:$storetab--cheggout,
        giftcardbanner-color:$giftcardtopbanner--cheggout,
        giftcardbread-color:$giftcardtopbread--cheggout,
        checkoutbtn-color:$checkoutbtn--cheggout,
        successtext-color:$successtext--cheggout,
        successalert-color:$sucessalert--cheggout,
    ),
    canara: (
        font-family: $font-family--canara,
        theme-color: $theme-color--canara,
        theme-primary: $theme-primary--canara,
        theme-secondary: $theme-secondary--canara,
        body-bg: $body-bg--canara,
        body-color: $body-color--canara,
        header-bg: $header-bg--canara,
        headerback-bg:$theme-headerback--canara,
        header-color: $header-color--canara,
        header-btn-bg: $header-btn-bg--canara,
        header-search-bg: $header-search-bg--canara,
        header-search-border: $header-search-border--canara,
        login-intro-bg: $login-intro-bg--canara,
        banner-bg: $banner-bg--canara,
        primary-btn: $primary-btn-bg--canara,
        footer-bg: $footer-bg--canara,
        footer-color: $footer-color--canara,
        gradient-navbar: $gradient-navbar--canara,
        gradient-category: $gradient-category--canara,
        gradient-store: $gradient-store--canara,
        search-pagetitle: $search-pagetitle--canara,
        login-btn:$btn-success--canara,
        login-btn-hover:$btn-success-hover--canara,
        buynow-color:$buynow--canara,
        sendgift-color:$sendgift--canara,
        giftcard-color:$giftcard--canara,
        deals-color:$deals--canara,
        dealtab-color:$store-tab--canara,
        continuebtn-color:$continue-login--canara,
        topribbon-color:$topribbon-back--canara,
        topribbontext-color:$topribbon-text--canara,
        aboutpage-color:$aboutpage--canara,
        featured-color:$featured--canara,
        pagesearch-color:$pagesearch--canara,
        topribbonfirst-color:$topribbon-textfirst--canara,
        storetab-color:$storetab--canara,
        giftcardbanner-color:$giftcardtopbanner--canara,
        giftcardbread-color:$giftcardtopbread--canara,
        checkoutbtn-color:$checkoutbtn--canara,
        successtext-color:$successtext--canara,
        successalert-color:$sucessalert--canara,
    ),
    psb: (
        font-family: $font-family--psb,
        theme-color: $theme-color--psb,
        theme-primary: $theme-primary--psb,
        theme-secondary: $theme-secondary--psb,
        body-bg: $body-bg--psb,
        body-color: $body-color--psb,
        header-bg: $header-bg--psb,
        headerback-bg:$theme-headerback--psb,
        header-color: $header-color--psb,
        header-btn-bg: $header-btn-bg--psb,
        header-search-bg: $header-search-bg--psb,
        header-search-border: $header-search-border--psb,
        login-intro-bg: $login-intro-bg--psb,
        banner-bg: $banner-bg--psb,
        primary-btn: $primary-btn-bg--psb,
        footer-bg: $footer-bg--psb,
        footer-color: $footer-color--psb,
        gradient-navbar: $gradient-navbar--psb,
        gradient-category: $gradient-category--psb,
        gradient-store: $gradient-store--psb,
        search-pagetitle: $search-pagetitle--psb,
        login-btn:$btn-success--psb,
        login-btn-hover:$btn-success-hover--psb,
        buynow-color:$buynow--psb,
        sendgift-color:$sendgift--psb,
        giftcard-color:$giftcard--psb,
        deals-color:$deals--psb,
        dealtab-color:$store-tab--psb,
        continuebtn-color:$continue-login--psb,
        topribbon-color:$topribbon-back--psb,
        topribbontext-color:$topribbon-text--psb,
        aboutpage-color:$aboutpage--psb,
        featured-color:$featured--psb,
        pagesearch-color:$pagesearch--psb,
        topribbonfirst-color:$topribbon-textfirst--psb,
        storetab-color:$storetab--psb,
        giftcardbanner-color:$giftcardtopbanner--psb,
        giftcardbread-color:$giftcardtopbread--psb,
        checkoutbtn-color:$checkoutbtn--psb,
        successtext-color:$successtext--psb,
        successalert-color:$sucessalert--psb,
    ),
    bob: (
        font-family: $font-family--bob,
        theme-color: $theme-color--bob,
        theme-primary: $theme-primary--bob,
        theme-secondary: $theme-secondary--bob,
        body-bg: $body-bg--bob,
        body-color: $body-color--bob,
        header-bg: $header-bg--bob,
        headerback-bg:$theme-headerback--bob,
        header-color: $header-color--bob,
        header-btn-bg: $header-btn-bg--bob,
        header-search-bg: $header-search-bg--bob,
        header-search-border: $header-search-border--bob,
        login-intro-bg: $login-intro-bg--bob,
        banner-bg: $banner-bg--bob,
        primary-btn: $primary-btn-bg--bob,
        footer-bg: $footer-bg--bob,
        footer-color: $footer-color--bob,
        gradient-navbar: $gradient-navbar--bob,
        gradient-category: $gradient-category--bob,
        gradient-store: $gradient-store--bob,
        search-pagetitle: $search-pagetitle--bob,
        login-btn:$btn-success--bob,
        login-btn-hover:$btn-success-hover--bob,
        buynow-color:$buynow--bob,
        sendgift-color:$sendgift--bob,
        giftcard-color:$giftcard--bob,
        deals-color:$deals--bob,
        dealtab-color:$store-tab--bob,
        continuebtn-color:$continue-login--bob,
        topribbon-color:$topribbon-back--bob,
        topribbontext-color:$topribbon-text--bob,
        aboutpage-color:$aboutpage--bob,
        featured-color:$featured--bob,
        pagesearch-color:$pagesearch--bob,
        topribbonfirst-color:$topribbon-textfirst--bob,
        storetab-color:$storetab--bob,
        giftcardbanner-color:$giftcardtopbanner--bob,
        giftcardbread-color:$giftcardtopbread--bob,
        checkoutbtn-color:$checkoutbtn--bob,
        successtext-color:$successtext--bob,
        successalert-color:$sucessalert--bob,
    ),
    bom: (
        font-family: $font-family--bom,
        theme-color: $theme-color--bom,
        theme-primary: $theme-primary--bom,
        theme-secondary: $theme-secondary--bom,
        body-bg: $body-bg--bom,
        body-color: $body-color--bom,
        header-bg: $header-bg--bom,
        headerback-bg:$theme-headerback--bom,
        header-color: $header-color--bom,
        header-btn-bg: $header-btn-bg--bom,
        header-search-bg: $header-search-bg--bom,
        header-search-border: $header-search-border--bom,
        login-intro-bg: $login-intro-bg--bom,
        banner-bg: $banner-bg--bom,
        primary-btn: $primary-btn-bg--bom,
        footer-bg: $footer-bg--bom,
        footer-color: $footer-color--bom,
        gradient-navbar: $gradient-navbar--bom,
        gradient-category: $gradient-category--bom,
        gradient-store: $gradient-store--bom,
        search-pagetitle: $search-pagetitle--bom,
        login-btn:$btn-success--bom,
        login-btn-hover:$btn-success-hover--bom,
        buynow-color:$buynow--bom,
        sendgift-color:$sendgift--bom,
        giftcard-color:$giftcard--bom,
        deals-color:$deals--bom,
        dealtab-color:$store-tab--bom,
        continuebtn-color:$continue-login--bom,
        topribbon-color:$topribbon-back--bom,
        topribbontext-color:$topribbon-text--bom,
        aboutpage-color:$aboutpage--bom,
        featured-color:$featured--bom,
        pagesearch-color:$pagesearch--bom,
        topribbonfirst-color:$topribbon-textfirst--bom,
        storetab-color:$storetab--bom,
        giftcardbanner-color:$giftcardtopbanner--bom,
        giftcardbread-color:$giftcardtopbread--bom,
        checkoutbtn-color:$checkoutbtn--bom,
        successtext-color:$successtext--bom,
        successalert-color:$sucessalert--bom,
    ),
    pnb: (
        font-family: $font-family--pnb,
        theme-color: $theme-color--pnb,
        theme-primary: $theme-primary--pnb,
        theme-secondary: $theme-secondary--pnb,
        body-bg: $body-bg--pnb,
        body-color: $body-color--pnb,
        header-bg: $header-bg--pnb,
        headerback-bg:$theme-headerback--pnb,
        header-color: $header-color--pnb,
        header-btn-bg: $header-btn-bg--pnb,
        header-search-bg: $header-search-bg--pnb,
        header-search-border: $header-search-border--pnb,
        login-intro-bg: $login-intro-bg--pnb,
        banner-bg: $banner-bg--pnb,
        primary-btn: $primary-btn-bg--pnb,
        footer-bg: $footer-bg--pnb,
        footer-color: $footer-color--pnb,
        gradient-navbar: $gradient-navbar--pnb,
        gradient-category: $gradient-category--pnb,
        gradient-store: $gradient-store--pnb,
        search-pagetitle: $search-pagetitle--pnb,
        login-btn:$btn-success--pnb,
        login-btn-hover:$btn-success-hover--pnb,
        buynow-color:$buynow--pnb,
        sendgift-color:$sendgift--pnb,
        giftcard-color:$giftcard--pnb,
        deals-color:$deals--pnb,
        dealtab-color:$store-tab--pnb,
        continuebtn-color:$continue-login--pnb,
        topribbon-color:$topribbon-back--pnb,
        topribbontext-color:$topribbon-text--pnb,
        aboutpage-color:$aboutpage--pnb,
        featured-color:$featured--pnb,
        pagesearch-color:$pagesearch--pnb,
        topribbonfirst-color:$topribbon-textfirst--pnb,
        storetab-color:$storetab--pnb,
        giftcardbanner-color:$giftcardtopbanner--pnb,
        giftcardbread-color:$giftcardtopbread--pnb,
        checkoutbtn-color:$checkoutbtn--pnb,
        successtext-color:$successtext--pnb,
        successalert-color:$sucessalert--bom,
    ),
    ib: (
        font-family: $font-family--ib,
        theme-color: $theme-color--ib,
        theme-primary: $theme-primary--ib,
        theme-secondary: $theme-secondary--ib,
        body-bg: $body-bg--ib,
        body-color: $body-color--ib,
        header-bg: $header-bg--ib,
        headerback-bg:$theme-headerback--ib,
        header-color: $header-color--ib,
        header-btn-bg: $header-btn-bg--ib,
        header-search-bg: $header-search-bg--ib,
        header-search-border: $header-search-border--ib,
        login-intro-bg: $login-intro-bg--ib,
        banner-bg: $banner-bg--ib,
        primary-btn: $primary-btn-bg--ib,
        footer-bg: $footer-bg--ib,
        footer-color: $footer-color--ib,
        gradient-navbar: $gradient-navbar--ib,
        gradient-category: $gradient-category--ib,
        gradient-store: $gradient-store--ib,
        search-pagetitle: $search-pagetitle--ib,
        login-btn:$btn-success--ib,
        login-btn-hover:$btn-success-hover--ib,
        buynow-color:$buynow--ib,
        sendgift-color:$sendgift--ib,
        giftcard-color:$giftcard--ib,
        deals-color:$deals--ib,
        dealtab-color:$store-tab--ib,
        continuebtn-color:$continue-login--ib,
        topribbon-color:$topribbon-back--ib,
        topribbontext-color:$topribbon-text--ib,
        aboutpage-color:$aboutpage--ib,
        featured-color:$featured--ib,
        pagesearch-color:$pagesearch--ib,
        topribbonfirst-color:$topribbon-textfirst--ib,
        storetab-color:$storetab--ib,
        giftcardbanner-color:$giftcardtopbanner--ib,
        giftcardbread-color:$giftcardtopbread--ib,
        checkoutbtn-color:$checkoutbtn--ib,
        successtext-color:$successtext--ib,
        successalert-color:$sucessalert--ib,
    ),
    csb: (
        font-family: $font-family--csb,
        theme-color: $theme-color--csb,
        theme-primary: $theme-primary--csb,
        theme-secondary: $theme-secondary--csb,
        body-bg: $body-bg--csb,
        body-color: $body-color--csb,
        header-bg: $header-bg--csb,
        headerback-bg:$theme-headerback--csb,
        header-color: $header-color--csb,
        header-btn-bg: $header-btn-bg--csb,
        header-search-bg: $header-search-bg--csb,
        header-search-border: $header-search-border--csb,
        login-intro-bg: $login-intro-bg--csb,
        banner-bg: $banner-bg--csb,
        primary-btn: $primary-btn-bg--csb,
        footer-bg: $footer-bg--csb,
        footer-color: $footer-color--csb,
        gradient-navbar: $gradient-navbar--csb,
        gradient-category: $gradient-category--csb,
        gradient-store: $gradient-store--csb,
        search-pagetitle: $search-pagetitle--csb,
        login-btn:$btn-success--csb,
        login-btn-hover:$btn-success-hover--csb,
        buynow-color:$buynow--csb,
        sendgift-color:$sendgift--csb,
        giftcard-color:$giftcard--csb,
        deals-color:$deals--csb,
        dealtab-color:$store-tab--csb,
        continuebtn-color:$continue-login--csb,
        topribbon-color:$topribbon-back--csb,
        topribbontext-color:$topribbon-text--csb,
        aboutpage-color:$aboutpage--csb,
        featured-color:$featured--csb,
        pagesearch-color:$pagesearch--csb,
        topribbonfirst-color:$topribbon-textfirst--csb,
        storetab-color:$storetab--csb,
        giftcardbanner-color:$giftcardtopbanner--csb,
        giftcardbread-color:$giftcardtopbread--csb,
        checkoutbtn-color:$checkoutbtn--csb,
        successtext-color:$successtext--csb,
        successalert-color:$sucessalert--csb,
    ),
    mresult: (
        font-family: $font-family--mresult,
        theme-color: $theme-color--mresult,
        theme-primary: $theme-primary--mresult,
        theme-secondary: $theme-secondary--mresult,
        body-bg: $body-bg--mresult,
        body-color: $body-color--mresult,
        header-bg: $header-bg--mresult,
        headerback-bg:$theme-headerback--mresult,
        header-color: $header-color--mresult,
        header-btn-bg: $header-btn-bg--mresult,
        header-search-bg: $header-search-bg--mresult,
        header-search-border: $header-search-border--mresult,
        login-intro-bg: $login-intro-bg--mresult,
        banner-bg: $banner-bg--mresult,
        primary-btn: $primary-btn-bg--mresult,
        footer-bg: $footer-bg--mresult,
        footer-color: $footer-color--mresult,
        gradient-navbar: $gradient-navbar--mresult,
        gradient-category: $gradient-category--mresult,
        gradient-store: $gradient-store--mresult,
        search-pagetitle: $search-pagetitle--mresult,
        login-btn:$btn-success--mresult,
        login-btn-hover:$btn-success-hover--mresult,
        buynow-color:$buynow--mresult,
        sendgift-color:$sendgift--mresult,
        giftcard-color:$giftcard--mresult,
        deals-color:$deals--mresult,
        dealtab-color:$store-tab--mresult,
        continuebtn-color:$continue-login--mresult,
        topribbon-color:$topribbon-back--mresult,
        topribbontext-color:$topribbon-text--mresult,
        aboutpage-color:$aboutpage--mresult,
        featured-color:$featured--mresult,
        pagesearch-color:$pagesearch--mresult,
        topribbonfirst-color:$topribbon-textfirst--mresult,
        storetab-color:$storetab--mresult,
        giftcardbanner-color:$giftcardtopbanner--mresult,
        giftcardbread-color:$giftcardtopbread--mresult,
        checkoutbtn-color:$checkoutbtn--mresult,
        successtext-color:$successtext--mresult,
        successalert-color:$sucessalert--mresult,
    ),
    posist: (
        font-family: $font-family--posist,
        theme-color: $theme-color--posist,
        theme-primary: $theme-primary--posist,
        theme-secondary: $theme-secondary--posist,
        body-bg: $body-bg--posist,
        body-color: $body-color--posist,
        header-bg: $header-bg--posist,
        headerback-bg:$theme-headerback--posist,
        header-color: $header-color--posist,
        header-btn-bg: $header-btn-bg--posist,
        header-search-bg: $header-search-bg--posist,
        header-search-border: $header-search-border--posist,
        login-intro-bg: $login-intro-bg--posist,
        banner-bg: $banner-bg--posist,
        primary-btn: $primary-btn-bg--posist,
        footer-bg: $footer-bg--posist,
        footer-color: $footer-color--posist,
        gradient-navbar: $gradient-navbar--posist,
        gradient-category: $gradient-category--posist,
        gradient-store: $gradient-store--posist,
        search-pagetitle: $search-pagetitle--posist,
        login-btn:$btn-success--posist,
        login-btn-hover:$btn-success-hover--posist,
        buynow-color:$buynow--posist,
        sendgift-color:$sendgift--posist,
        giftcard-color:$giftcard--posist,
        deals-color:$deals--posist,
        dealtab-color:$store-tab--posist,
        continuebtn-color:$continue-login--posist,
        topribbon-color:$topribbon-back--posist,
        topribbontext-color:$topribbon-text--posist,
        aboutpage-color:$aboutpage--posist,
        featured-color:$featured--posist,
        pagesearch-color:$pagesearch--posist,
        topribbonfirst-color:$topribbon-textfirst--posist,
        storetab-color:$storetab--posist,
        giftcardbanner-color:$giftcardtopbanner--posist,
        giftcardbread-color:$giftcardtopbread--posist,
        checkoutbtn-color:$checkoutbtn--posist,
        successtext-color:$successtext--posist,
        successalert-color:$sucessalert--posist,
    ),
    prokids: (
        font-family: $font-family--prokids,
        theme-color: $theme-color--prokids,
        theme-primary: $theme-primary--prokids,
        theme-secondary: $theme-secondary--prokids,
        body-bg: $body-bg--prokids,
        body-color: $body-color--prokids,
        header-bg: $header-bg--prokids,
        headerback-bg:$theme-headerback--prokids,
        header-color: $header-color--prokids,
        header-btn-bg: $header-btn-bg--prokids,
        header-search-bg: $header-search-bg--prokids,
        header-search-border: $header-search-border--prokids,
        login-intro-bg: $login-intro-bg--prokids,
        banner-bg: $banner-bg--prokids,
        primary-btn: $primary-btn-bg--prokids,
        footer-bg: $footer-bg--prokids,
        footer-color: $footer-color--prokids,
        gradient-navbar: $gradient-navbar--prokids,
        gradient-category: $gradient-category--prokids,
        gradient-store: $gradient-store--prokids,
        search-pagetitle: $search-pagetitle--prokids,
        login-btn:$btn-success--prokids,
        login-btn-hover:$btn-success-hover--prokids,
        buynow-color:$buynow--prokids,
        sendgift-color:$sendgift--prokids,
        giftcard-color:$giftcard--prokids,
        deals-color:$deals--prokids,
        dealtab-color:$store-tab--prokids,
        continuebtn-color:$continue-login--prokids,
        topribbon-color:$topribbon-back--prokids,
        topribbontext-color:$topribbon-text--prokids,
        aboutpage-color:$aboutpage--prokids,
        featured-color:$featured--prokids,
        pagesearch-color:$pagesearch--prokids,
        topribbonfirst-color:$topribbon-textfirst--prokids,
        storetab-color:$storetab--prokids,
        giftcardbanner-color:$giftcardtopbanner--prokids,
        giftcardbread-color:$giftcardtopbread--prokids,
        checkoutbtn-color:$checkoutbtn--prokids,
        successtext-color:$successtext--prokids,
        successalert-color:$sucessalert--prokids,
    ),
    pristyncare: (
        font-family: $font-family--pristyncare,
        theme-color: $theme-color--pristyncare,
        theme-primary: $theme-primary--pristyncare,
        theme-secondary: $theme-secondary--pristyncare,
        body-bg: $body-bg--pristyncare,
        body-color: $body-color--pristyncare,
        header-bg: $header-bg--pristyncare,
        headerback-bg:$theme-headerback--pristyncare,
        header-color: $header-color--pristyncare,
        header-btn-bg: $header-btn-bg--pristyncare,
        header-search-bg: $header-search-bg--pristyncare,
        header-search-border: $header-search-border--pristyncare,
        login-intro-bg: $login-intro-bg--pristyncare,
        banner-bg: $banner-bg--pristyncare,
        primary-btn: $primary-btn-bg--pristyncare,
        footer-bg: $footer-bg--pristyncare,
        footer-color: $footer-color--pristyncare,
        gradient-navbar: $gradient-navbar--pristyncare,
        gradient-category: $gradient-category--pristyncare,
        gradient-store: $gradient-store--pristyncare,
        search-pagetitle: $search-pagetitle--pristyncare,
        login-btn:$btn-success--pristyncare,
        login-btn-hover:$btn-success-hover--pristyncare,
        buynow-color:$buynow--pristyncare,
        sendgift-color:$sendgift--pristyncare,
        giftcard-color:$giftcard--pristyncare,
        deals-color:$deals--pristyncare,
        dealtab-color:$store-tab--pristyncare,
        continuebtn-color:$continue-login--pristyncare,
        topribbon-color:$topribbon-back--pristyncare,
        topribbontext-color:$topribbon-text--pristyncare,
        aboutpage-color:$aboutpage--pristyncare,
        featured-color:$featured--pristyncare,
        pagesearch-color:$pagesearch--pristyncare,
        topribbonfirst-color:$topribbon-textfirst--pristyncare,
        storetab-color:$storetab--pristyncare,
        giftcardbanner-color:$giftcardtopbanner--pristyncare,
        giftcardbread-color:$giftcardtopbread--pristyncare,
        checkoutbtn-color:$checkoutbtn--pristyncare,
        successtext-color:$successtext--pristyncare,
        successalert-color:$sucessalert--pristyncare,
    ),
    bandhan: (
        font-family: $font-family--bandhan,
        theme-color: $theme-color--bandhan,
        theme-primary: $theme-primary--bandhan,
        theme-secondary: $theme-secondary--bandhan,
        body-bg: $body-bg--bandhan,
        body-color: $body-color--bandhan,
        header-bg: $header-bg--bandhan,
        headerback-bg:$theme-headerback--bandhan,
        header-color: $header-color--bandhan,
        header-btn-bg: $header-btn-bg--bandhan,
        header-search-bg: $header-search-bg--bandhan,
        header-search-border: $header-search-border--bandhan,
        login-intro-bg: $login-intro-bg--bandhan,
        banner-bg: $banner-bg--bandhan,
        primary-btn: $primary-btn-bg--bandhan,
        footer-bg: $footer-bg--bandhan,
        footer-color: $footer-color--bandhan,
        gradient-navbar: $gradient-navbar--bandhan,
        gradient-category: $gradient-category--bandhan,
        gradient-store: $gradient-store--bandhan,
        search-pagetitle: $search-pagetitle--bandhan,
        theme-red:$theme-bandhan-red,
        page-background-white:$page-background,
        theme-grey:$theme-bandhan-grey,
        login-btn:$btn-success--bandhan,
        login-btn-hover:$btn-success-hover--bandhan,
        buynow-color:$buynow--bandhan,
        sendgift-color:$sendgift--bandhan,
        giftcard-color:$giftcard--bandhan,
        deals-color:$deals--bandhan,
        dealtab-color:$store-tab--bandhan,
        continuebtn-color:$continue-login--bandhan,
        topribbon-color:$topribbon-back--bandhan,
        topribbontext-color:$topribbon-text--bandhan,
        aboutpage-color:$aboutpage--bandhan,
        featured-color:$featured--bandhan,
        pagesearch-color:$pagesearch--bandhan,
        topribbonfirst-color:$topribbon-textfirst--bandhan,
        storetab-color:$storetab--bandhan,
        giftcardbanner-color:$giftcardtopbanner--bandhan,
        giftcardbread-color:$giftcardtopbread--bandhan,
        checkoutbtn-color:$checkoutbtn--bandhan,
        successtext-color:$successtext--bandhan,
        successalert-color:$sucessalert--bandhan,
    ),
    bfsl: (
        font-family: $font-family--bfsl,
        theme-color: $theme-color--bfsl,
        theme-primary: $theme-primary--bfsl,
        theme-secondary: $theme-secondary--bfsl,
        body-bg: $body-bg--bfsl,
        body-color: $body-color--bfsl,
        header-bg: $header-bg--bfsl,
        headerback-bg:$theme-headerback--bfsl,
        header-color: $header-color--bfsl,
        header-btn-bg: $header-btn-bg--bfsl,
        header-search-bg: $header-search-bg--bfsl,
        header-search-border: $header-search-border--bfsl,
        login-intro-bg: $login-intro-bg--bfsl,
        banner-bg: $banner-bg--bfsl,
        primary-btn: $primary-btn-bg--bfsl,
        footer-bg: $footer-bg--bfsl,
        footer-color: $footer-color--bfsl,
        gradient-navbar: $gradient-navbar--bfsl,
        gradient-category: $gradient-category--bfsl,
        gradient-store: $gradient-store--bfsl,
        search-pagetitle: $search-pagetitle--bfsl,
        login-btn:$btn-success--bfsl,
        login-btn-hover:$btn-success-hover--bfsl,
        buynow-color:$buynow--bfsl,
        sendgift-color:$sendgift--bfsl,
        giftcard-color:$giftcard--bfsl,
        deals-color:$deals--bfsl,
        dealtab-color:$store-tab--bfsl,
        continuebtn-color:$continue-login--bfsl,
        topribbon-color:$topribbon-back--bfsl,
        topribbontext-color:$topribbon-text--bfsl,
        aboutpage-color:$aboutpage--bfsl,
        featured-color:$featured--bfsl,
        pagesearch-color:$pagesearch--bfsl,
        topribbonfirst-color:$topribbon-textfirst--bfsl,
        storetab-color:$storetab--bfsl,
        giftcardbanner-color:$giftcardtopbanner--bfsl,
        giftcardbread-color:$giftcardtopbread--bfsl,
        checkoutbtn-color:$checkoutbtn--bfsl,
        successtext-color:$successtext--bfsl,
        successalert-color:$sucessalert--bfsl,
    )
);

@mixin themed() {
    @each $theme, $map in $themes {
        .theme--#{$theme} & {
            $theme-map: () !global;

            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), "#{$key}");
                $theme-map: map-merge(
                    $theme-map,
                    (
                        $key: $value,
                    )
                ) !global;
            }

            @content;
            $theme-map: null !global;
        }
    }
}

@function t($key) {
    @return map-get($theme-map, $key);
}
