<div class="page_account">
    <div class="page_content">
        <div class="container">
            <app-breadcrumb></app-breadcrumb>
            <div class="account">
                <div class="account_sidebar">
                    <app-account-sidebar></app-account-sidebar>
                </div>

                <div class="overview">
                    <div class="account_content">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CSS File: _user.scss -->