.terms {
    right: 3px;
    top: 3px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 90%;
    color: #a2a2a2;
    cursor: pointer;
    .icon {
        height: 15px;
        width: 15px;
        margin-right: 5px;
        fill: #d0d0d0;
    }
}
