<div class="page_stores">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9">
                <br>
                <div class="page_banner p-0 text_light ">
                    <img class="text_light h-100 col-12 p-0 " src="../../../../../assets/images/MRewards3.png">
                </div>
                <div class="page_content">
                    <app-store-grid [storesgridData]=storesgridData></app-store-grid>
                </div>
            </div>
            <div class="col-12 col-lg-3 p-4">
                <div class="d-flex flex-column justify-content-center ">
                    <img class="leaderboard " src="../../../../../assets/images/LeaderBoard.png">
                    <img class="terms " src="../../../../../assets/images/Terms-and-Condition.png">
                </div>
            </div>

        </div>
    </div>
</div>