.page_gift_banner {
    background-image: url("assets/images/giftcardbanner2.jpg");
    background-color: #ffcc33;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
}
.page_gift_banner-bandhan {
    background-image: url("assets/images/giftcardbuybandhan.png");
    background-color: #F3F3F3;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
}

