<div class="page_categories">
    <div class="page_banner text_light">
        <div class="container">
            <app-breadcrumb></app-breadcrumb>
            <h4>POPULAR CATEGORIES</h4>
            <app-categories-carousel [categoriesData]=favcategoriesData></app-categories-carousel>
        </div>
    </div>
    <div class="page_content">
        <div class="container">
            <app-categories-grid [categoriesgridData]=categoriesgridData></app-categories-grid>
        </div>
    </div>
</div>

<!-- CSS File: _categories.scss -->