.bestdeals {
    @include page_layout_one;

    .alert-success {
        color: #155724;
        background: linear-gradient(to left, #134e5e9e, #71b28080);
        border-color: #fff;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

        .icon {
            width: 24px;
            height: 24px;
            fill: #155724;
        }

        .description {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            margin-bottom: 0.5rem;
            max-height: 2rem;
        }
    }
}
