<div class="d-flex align-items-center justify-content-between mb-4">
    <h4 class="mb-0">ALL CATEGORIES</h4>
    <div class="search_wrap">
        <input [(ngModel)]="searchCategories" name="search" type="text" placeholder="Search Category">
        <a title="clear" class="clear" *ngIf="searchCategories.length > 0" (click)="searchCategories = ''">
            <svg class="icon">
                <use xlink:href="/assets/icons/sprite.svg#Close001"></use>
            </svg>
        </a>
        <svg class="icon">
            <use xlink:href="/assets/icons/sprite.svg#Search003"></use>
        </svg>
    </div>
</div>
<div class="categories-grid">
    <ng-container
        *ngFor="let data of categoriesgridData | filterObject : searchCategories : 'categoryName'; trackBy:trackByCatId">
        <div class="item" *ngIf="data.nodeId != null && data.nodeId != ''" appObserveVisibility  (visible)="onVisible(data, data.id, 'category','Impression')">
            <div (click)="navigateToCategory(data)" 
                class="categories-grid_tile d-flex align-items-center">
                <ng-container *ngIf="data.categoryLogo != null">
                    <picture>
                        <source srcset="{{data.categoryLogo.split('.').slice(0, -1).join('.') + '.webp'}}"
                            type="image/webp">
                        <img (error)="onImgError($event)" title="{{data.categoryName}}" src="{{data.categoryLogo}}">
                    </picture>
                </ng-container>

                <h5>{{data.categoryName}}
                    <small *ngIf="data.offerCount != 0">{{data.offerCount}}
                        <span *ngIf="data.offerCount > 1">offers</span> <span *ngIf="data.offerCount == 1">offer</span>
                    </small>
                </h5>
                <a (click)="addtoFavorites" class="ml-auto" [class.fav]="data.isFav">
                    <svg class="icon">
                        <use xlink:href="/assets/icons/sprite.svg#heart"></use>
                    </svg>
                </a>
            </div>
        </div>
    </ng-container>
</div>

<!-- CSS File: _categories.scss -->