<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">

<div class="top-introsection">
    <div class="content-sec">
        <h3>Your one-stop Shopping destination</h3>
        <p>Online shopping just got easier. Discover products, compare prices, explore deals & offers, earn Reward
            Points, and get Gift Cards.</p>
    </div>
    <img class="w-100" src="/assets/images/destination-img.jpg">
</div>
<div class="compare-section">
    <div class="copare-searchcstm">
        <div class="text-center">
            <h3>Search for a Product</h3>
            <div class="input-group mb-3">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search..."
                    aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">GO</button>
                </div>
            </div>
        </div>
        <div class="fancy-div">
            <img src="/assets/images/tilted-arrow.png" alt="">
            <p class="search-tag">Search for a product</p>
        </div>
    </div>
    <div class="back-first-section">
        <img src="/assets/images/how-workfirst.jpg" alt="">
    </div>
</div>
<div class="compare-info">
    <h5>Looking for the best price on different websites? Search anything you want to buy & sit tight while we gather
        data across 10+ websites in one single place.</h5>
    <img src="/assets/images/result.png" alt="" class="search-resultcstm">
    <img class="back-img" src="/assets/images/blue-garden.png">
</div>
<div class="cstm-container">
    <div class="cstm-row columnstyle">
        <div class="left-column">
            <h5>Compare prices like never before</h5>
            <p>We list the product prices in an easy-to-compare way. Decide the price or the shop you think is the best
                for you. Save time & money!</p>
            <img src="/assets/images/shop-how.png" class="shop-mobile">
        </div>
        <div class="right-column">
            <h5>Continue to Store</h5>
            <p>It is as simple as it looks! When you click the “Shop” button, we take you to the online store to place
                the order. If you have copied a Coupon Code, don’t forget to use it before making the payment.</p>
        </div>
    </div>
    <div class="rewards-section">
        <div class="reward-info for-desktop">
            <p>Its rewarding! Every time you shop via Cheggout you earn Reward Points. The points will be added to your
                account in a pending status. At the end of the return period from different online stores- your reward
                points will get updated to a confirmed status.</p>
            <img src="/assets/images/orange-arrow.png" class="orange-arrow">
        </div>
        <div class="how-works">
            <h5>Earn Reward Points</h5>
            <img src="/assets/images/account-reward.png" class="account-reward">
        </div>
        <div class="reward-info for-mobile">
            <p>Its rewarding! Every time you shop via Cheggout you earn Reward Points. The points will be added to your
                account in a pending status. At the end of the return period from different online stores- your reward
                points will get updated to a confirmed status.</p>
        </div>
        <img src="/assets/images/cloud.png" class="cloud-art">
        <img src="/assets/images/sofa-art.png" class="sofa-art">
    </div>
    <div class="redeem-section">
        <h5>Redeem your Reward Points</h5>
        <div class="image-row">
            <img src="/assets/images/card1.png">
            <img src="/assets/images/card2.png">
            <img src="/assets/images/card3.png">
        </div>
        <p>We offer Gift Cards from over 200+ stores. Redeem your Reward Points to get Gift Cards. Once you have more
            than 250 confirmed points- use them and get Gift Cards for you & your loved ones!</p>
    </div>
</div>
<img src="/assets/images/meeting-art.png" class="meeting-art">